.external-links {
  background-color: #2d2e31;
}

.external-links-title {
  color: #e8e5dd;
}

.project-cards {
  max-width: 15vw !important;
  background-color: #e8e5dd !important;
  align-items: center;
  //   background-color: aquamarine !important;
  @media screen and(max-width:600px) {
    max-width: 100% !important;
    text-align: center;
  }
}

.link-btn {
  @media screen and(max-width:600px) {
    font-size: 12px !important;
  }
}
