.form-send-btn {
  font-size: 1.2rem;
  font-weight: 600;
  background-color: #f9f9f8;
  border: 4px solid #000 !important;
  box-shadow: 4px 4px 1px 0px rgba(244, 119, 94, 0.9);
  transition: 0.2s ease-in-out;
  &:hover {
    background-color: #000;
    color: #f4775e;
  }
}

.login-form {
  font-size: 1.2rem;
  font-weight: 600;
  background-color: #f9f9f8;
  border: 4px solid #000 !important;
  box-shadow: 12px 12px 1px 0px rgba(244, 119, 94, 0.9) !important;
  transition: 0.2s ease-in-out;
  &:hover {
    background-color: #000;
    color: #f4775e;
  }
}

.form-wrapper {
  background-color: #2d2e31 !important;
}

.login-welcome-title {
  font-size: 5vw;
  font-weight: 800;
  color: #e8e5dd !important;
  text-align: center;
  @media screen and(max-width:600px) {
    font-size: 10vw;
    padding: 0 !important;
    margin: 0 !important;
  }
}

.form-links {
  color: rgba(0, 0, 0, 0.5);
  transition: 0.2s ease-in-out;
  &:hover,
  :active {
    color: #000;
  }
}

.login-form {
  @media screen and(max-width:600px) {
    min-width: 90vw !important;
    max-width: 100vw !important;
  }
}
